.dockerignore
Dockerfile
Dockerfile.prod.app
Dockerfile.prod.webserver
docker-compose.yml
src/.editorconfig
src/.git
src/.gitattributes
src/.gitignore
src/.env.example
src/.env.local
src/.env
src/.env.prod
src/.env.test
README.md
src/.styleci.yml
src/vendor
src/node_modules
src/storage/log/laravel.log
